#form {
	border: 1px black solid;
	border-radius: 10px;
	margin-bottom: 2em;
	padding: 2em;
}

#show_blog {
	border: 1px black solid;
	border-radius: 10px;
}

#show_blog div{
	border: 1px black solid;
}