#form{
	margin-bottom: 2em;
	padding: 2em;
}

#form form {
	border: 1px black solid;
	border-radius: 10px;
	padding: 2em;
	background-color: #fff;
}

#picture img{
	cursor: pointer;
}

#submitbtn{
	margin-right: 0.5em;
}

/*for map*/
#lat, #lng{
	display: none;
}

#map{
	overflow:hidden;
    padding-bottom:50%;
    position:relative;
	height:0;
	display: none;
}

#map iframe{
	left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#viewpicture{
	display: none;
}

/*for blog detail*/
#viewpicture img{
	cursor: pointer;
}

/*for video*/
#vidi{
	display:none;
}

video{
	display: none;
}


/*background color*/
.black{
	background-color:#000;
}

.INK{
	background-color: #062f4f;
}

.POSY{
	background-color: #813772;
}

.embers{
	background-color: #b82601;
}

.img-wrapper::after {
    font-size: 12px;
    content: 'Click Image To View Full Size';
    display: block;
}

/* for ios show scrow bar*/
#imgViewer::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
}
#imgViewer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

